<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Task View</title>
        <link rel="icon" href="/static/images/tabicon.png" type="image/png">
        <link href="{{ url_for('static', filename='styles/styles.css') }}" rel="stylesheet">
    </head>
    <body class="bg-gray-900 text-gray-300">
        <header class="bg-gray-800 text-gray-100 p-4">
            <div class="container mx-auto flex justify-between items-center">
                <a href="/dashboard">
                    <img src="/static/images/icon.png" alt="To-Do List Icon" class="h-8 w-8 inline-block mr-2" style="transform: translateY(-4px);">
                    <h1 class="text-2xl font-bold inline-block align-baseline">QuickList</h1>
                </a>
                <nav>
                    <a href="/create" class="bg-gray-700 text-gray-300 hover:bg-gray-600 active:bg-gray-500 mx-2 px-4 py-2 rounded">
                        <img src="/static/images/create.png" alt="Create Task Icon" class="h-6 w-6 inline-block mr-2" style="transform: translateY(-2px);">
                        Create Task
                    </a>
                    <a href="/dashboard" class="bg-gray-700 text-gray-300 hover:bg-gray-600 active:bg-gray-500 mx-2 px-4 py-2 rounded">
                        <img src="/static/images/dashboard.png" alt="Dashboard Icon" class="h-6 w-6 inline-block mr-2" style="transform: translateY(-2px);">
                        Dashboard
                    </a>
                    <a href="/logout" class="bg-gray-700 text-gray-300 hover:bg-gray-600 active:bg-gray-500 mx-2 px-4 py-2 rounded">
                        <img src="/static/images/logout.png" alt="Log Out Icon" class="h-6 w-6 inline-block mr-2" style="transform: translateY(-2px);">
                        Log Out
                    </a>
                </nav>
            </div>
        </header>
        <main class="container mx-auto mt-10">
            <div class="bg-gray-800 p-8 rounded-lg shadow-lg">
                <h2 class="text-4xl font-bold mb-4 text-center">
                    <img src="/static/images/icon.png" alt="Task Icon" class="h-12 w-12 inline-block mr-2" style="transform: translateY(-4px);">
                    Task Details:
                </h2>
                <div class="text-gray-300 text-lg leading-relaxed space-y-2">
                    <p class="text-3xl font-semibold"><strong>Title:</strong> {{ task.title }}</p>
                    <p class="text-xl"><strong>Category:</strong> {{ task.category }}</p>
                    <p class="text-lg"><strong>Due Date:</strong> {{ task.date.strftime('%Y-%m-%d') }}</p>
                    <p> 
                        {% if task.date|days_left == 'Overdue' %}
                            <span class="text-red-400 font-bold">Overdue</span>
                        {% elif task.date|days_left == 'Today' %}
                            <span class="text-yellow-400 font-bold">Due today</span>
                        {% else %}
                            Due in <span class="font-medium">{{ task.date|days_left }}</span> day(s)
                        {% endif %}
                    </p>
                    <p class="text-lg"><strong>Description:</strong> {{ task.description }}</p>
                </div>
                <div class="mt-6 flex justify-center space-x-4">
                    {% if task.done %}
                        <!-- If task is completed, show "Mark as Incomplete" button -->
                        <form action="/incomplete/{{ task.id }}" method="POST" class="inline">
                            <button type="submit" class="bg-yellow-600 text-gray-300 hover:bg-yellow-500 active:bg-yellow-400 px-4 py-2 rounded">Mark as Incomplete</button>
                        </form>
                    {% else %}
                        <!-- If task is not completed, show "Complete" button -->
                        <form action="/complete/{{ task.id }}" method="POST" class="inline">
                            <button type="submit" class="bg-green-600 text-gray-300 hover:bg-green-500 active:bg-green-400 px-4 py-2 rounded">Complete</button>
                        </form>
                    {% endif %}
                    
                    <form action="/edit/{{ task.id }}" method="GET" class="inline">
                        <button type="submit" class="bg-blue-600 text-gray-300 hover:bg-blue-500 active:bg-blue-400 px-4 py-2 rounded">Edit</button>
                    </form>
                    <form action="/delete/{{ task.id }}" method="POST" class="inline">
                        <button type="submit" class="bg-red-600 text-gray-300 hover:bg-red-500 active:bg-red-400 px-4 py-2 rounded">Delete</button>
                    </form>
                </div>
            </div>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <div class="container mx-auto mt-4">
                {% for category, message in messages %}
                <div class="alert alert-{{ category }} bg-gray-800 p-4 rounded-lg text-center mb-4 relative fade-in" onclick="dismissAlert(this)">
                    <span class="text-black">{{ message }}</span>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
        </main>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    </body>
    <footer class="bg-gray-800 text-gray-100 p-4 mt-10 fixed bottom-0 w-full">
        <p>
            <a href="https://github.com/Space-Cadet-Stuff/To-do-Program" class="text-gray-300 hover:text-gray-400">
                <img src="/static/images/github.png" alt="GitHub Icon" class="h-6 w-6 inline-block mr-2" style="transform: translateY(-2px);"> Visit Development page on GitHub!
            </a>
        </p>
    </footer>
</html>