@import 'https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css';
.alert {
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    text-align: center;
    width: 100%;
}

.alert-info {
    background-color: #0045bd;
    color: #cbd5e0;
}

.alert-error {
    background-color: #f56565;
    color: #fff;
}

.alert-warning {
    background-color: #ecc94b;
    color: #2d3748;
}

.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.alert {
    cursor: pointer;
}